@model IEnumerable<Atelier_2.Models.Intervention>

@{
    ViewData["Title"] = "Gestion des Interventions";
}

<h1>Gestion des Interventions</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date de l'intervention</th>
            <th>Technicien</th>
            <th>Coût total</th>
            <th>Durée</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var intervention in Model)
        {
            <tr>
                <td>@intervention.Id</td>
                <td>@intervention.DateIntervention.ToString("dd/MM/yyyy")</td>
                <td>@intervention.Technicien?.UserName </td>
                <td>@intervention.CoutTotal.ToString("C")</td>
                <td>@intervention.DureeIntervention</td>
                <td>
                    <a href="@Url.Action("AfficherIntervention", "Intervention", new { id = intervention.Id })" class="btn btn-info">Voir</a>
                    <a href="@Url.Action("Delete", "Intervention", new { id = intervention.Id })" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>

