@model IEnumerable<Atelier_2.Models.Piece>

@{
    ViewData["Title"] = "List of Pieces";
}

<h1>List of Pieces</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nom)</th>
            <th>@Html.DisplayNameFor(model => model.Prix)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var piece in Model)
        {
            <tr>
                <td>@piece.Nom</td>
                <td>@piece.Prix</td>
                <td>
                    <a href="@Url.Action("Details", new { id = piece.Id })" class="btn btn-info">Details</a>
                    <a href="@Url.Action("Edit", new { id = piece.Id })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("Delete", new { id = piece.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-success">Create New Piece</a>
